/* ? normalization */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --spacing: .25rem;
  --text-black: #101828;
  --grey-200: #e5e7eb;
  --gray-800: #4a5565;

}

/* ? general styling */
html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

::selection {
  background-color: #A784FF;
  color: #FFFFFF;
}

a {
  font-size: inherit;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

/* ? general classes */

header {
  margin-bottom: 64px;

  span {
    padding: .5rem 1.25rem;
    background-image: linear-gradient(to right, #f5f3ff 0%, #faf5ff 100%);
    color: #7008e7;
    border: 2px solid #ddd6ff;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 64px;
      height: 2px;
      background-image: linear-gradient(to right, #00000000 0%, #8e51ff 50%, #7f22fe 100%);
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      left: -80px;
    }

    &::after {
      background-image: linear-gradient(to left, #00000000 0%, #8e51ff 50%, #7f22fe 100%);
      right: -80px;
    }
  }

  h2 {
    width: fit-content;
    background-clip: text;
    background-image: linear-gradient(to right, #7f22fe 0%, #9810fa 50%, #fe9a00 100%);
    color: transparent;
  }

  p {
    color: #4a5565;
    max-width: 42rem;
  }
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.fs-12 {
  font-size: .75rem;
}

.fs-14 {
  font-size: .875rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-48 {
  font-size: 3rem;
}

.py-12 {
  padding-block: .75rem;
}

.px-12 {
  padding-inline: .75rem;
}

.px-32 {
  padding-inline: 2rem;
}

.p-32 {
  padding: 2rem;
}

.py-80 {
  padding-block: 5rem;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mx-32 {
  margin-inline: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-64 {
  margin-bottom: 64px;
}

.text-black {
  color: var(--text-black);
}

.text-gray-200 {
  color: var(--grey-200);
}

.text-gray-800 {
  color: var(--gray-800);
}

.duration-200 {
  transition: .2s;
}

.text-purple {
  color: #7f22fe;
}

.bg-purple {
  background-color: #7f22fe;
}

.bg-light-purple {
  background-color: #EDE9FF;
}

.text-green {
  color: #0ea63e;
}

.bg-green {
  background-color: #0ea63e;
}

.bg-light-green {
  background-color: #DBFCE6;
}

.text-indigo {
  color: #982EFA;
}

.bg-indigo {
  background-color: #982EFA;
}

.bg-light-indigo {
  background-color: #F3E8FF;
}

.text-gold {
  color: #D08700;
}

.bg-gold {
  background-color: #D08700;
}

.bg-light-gold {
  background-color: #FEF9C1;
}

.text-blue {
  color: #4F39F6;
}

.bg-blue {
  background-color: #4F39F6;
}

.bg-light-blue {
  background-color: #DFE7FF;
}

/* ? navbar */
.navbar {
  min-height: 80px;

  .navbar-toggler {

    &:focus {
      box-shadow: none;
    }

    &:hover i {
      color: #7f22fe;
    }
  }


  .nav-item {

    .nav-link {
      color: rgb(49, 65, 88);

      &:hover {
        background-color: #F4F3FF;
        color: #7f22fe;
      }

      &.active {
        color: #7f22fe;
        font-weight: 600;

        &::before {
          width: 100%;
        }
      }
    }
  }

  .dropdown-menu {
    height: 400px;

    .feat,
    .types,
    .locations,
    .resources {
      background-color: #f9fafb;
    }

    .feat {

      .img-wrapper {
        width: 48px;
        height: 48px;
      }

      .villa,
      .apartment {
        transition: .2s;

        &:hover {
          background-color: #F4F3FF !important;
        }

        p {
          color: #6a7282;
        }
      }
    }

    .types {
      ul li a {
        * {
          transition: .2s;
        }

        &:hover {
          color: #7f22fe;
        }
      }

    }

    .locations .row {
      a>div span:nth-child(2) {
        color: #ddd6ff;
      }

      .new-york {
        background-image: linear-gradient(to right, #4d179a99, #59168b99), url(../imgs/new-york.jpeg);
        background-size: cover;
        background-position: center;
        height: 64px;
      }

      .los-angeles {
        background-image: linear-gradient(to right, #4d179a99, #59168b99), url(../imgs/los-angeles.jpeg);
        background-size: cover;
        background-position: center;
        height: 64px;
      }

      .miami {
        background-image: linear-gradient(to right, #4d179a99, #59168b99), url(../imgs/miami.jpeg);
        background-size: cover;
        background-position: center;
        height: 64px;
      }
    }

    .resources {

      .circle {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        opacity: .5;
        top: -60%;
        right: -25%;
        background-color: #ede9fe;
      }

      .icon {
        width: 32px;
        height: 32px;
      }

      .guide>div {
        border: 1px solid #ede9fe;
        transition: .2s;

        &:hover {
          border-color: #ddd6ff;
        }
      }

      .tips>div {
        border: 1px solid #dcfce7;
        transition: .2s;

        &:hover {
          border-color: #b9f8cf;
        }

        .circle {
          background-color: #EDFDF2;
        }
      }

      .reports>div {
        border: 1px solid oklch(94.6% .033 307.174);
        transition: .2s;

        &:hover {
          border-color: #e9d4ff;
        }

        .circle {
          background-color: #F9F3FE;
        }
      }
    }
  }
}

/* ? hero section */
.hero {
  background-image: linear-gradient(to right, #4d179acc, #59168bcc), url(../imgs/imgi_59_4a713135fa-60a8ac99fc66b07ce395.png);
  background-size: cover;
  background-position: center;
  padding-block: 160px 80px;

  .content {
    max-width: 56rem;

    label {
      font-size: .875rem;
      color: #364153;

    }

    input:focus,
    select:focus {
      border-color: #8e51ff !important;
      outline: none;
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px #8e51ff;
    }

    .location {
      padding: .75rem 1rem .75rem 3rem;
    }

    .location-wrapper {
      i {
        left: 16px;
        top: 50%;
        color: #99a1af;
      }
    }

    button {
      background-image: linear-gradient(to right, #7f22fe 0%, #9810fa 100%);

      &:hover {
        background-image: linear-gradient(to right, #7008e7 0%, #8200db 100%);
      }
    }

    .stats {
      p {
        color: #ddd6ff;
      }
    }
  }
}

/* ? properties section */
.properties {
  background-color: #F9FAFB;

  .row {

    >div:nth-child(2) {
      .property {
        .img-wrapper {
          .tag {
            background-color: #0EA63E;
          }
        }
      }
    }

    >div:nth-child(3) {
      .property {
        .img-wrapper {
          .tag {
            background-color: #E17100;
          }
        }
      }
    }
  }

  .property {
    background-color: #F9FAFB;
    cursor: pointer;
    box-shadow: 0 0 20px #0000001a;

    &:hover .img-wrapper img {
      scale: 1.1;
    }

    .img-wrapper {
      height: 256px;

      img {
        transition: .3s;
      }

      .tag {
        top: 16px;
        left: 16px;
        background-color: #8031FE;
      }

      .camera {
        background-color: #000a;
        left: 16px;
        bottom: 16px;
      }

      .like {
        top: 16px;
        right: 16px;
        background-color: #fffb;
        color: #4a5565;
        cursor: pointer;

        &:hover {
          color: #FB2C36;
        }
      }
    }

    .content {
      .price {
        >div:first-child {
          color: #7f22fe;
        }

        >div:nth-child(2) {
          color: #6a7282;
        }
      }

      .details {
        color: #4a5565;
      }

      .title {
        color: #1e2939;
      }

      .address {
        color: #4a5565;
      }

      .owner-img {
        width: 32px;
        height: 32px;
      }

      .name {
        color: #4a5565;
      }

      button {
        background-color: #ede9fe;
        color: #7f22fe;

        &:hover {
          background-color: #DDD6FF;
        }
      }
    }
  }

  .sec-btn {
    background-image: linear-gradient(to right, #7f22fe 0%, #9810fa 100%);

    &:hover {
      background-image: linear-gradient(to right, #7008e7 0%, #8200db 100%);
    }
  }
}

/* ? services section */
.services {
  padding-block: 80px;

  .container {
    max-width: 72rem;
  }

  button.nav-link {
    color: #4a5565;
    border-bottom: 2px solid transparent;

    &:hover {
      color: #7f22fe;
      border-bottom: 2px solid #dbc1ff;
    }
  }

  button.nav-link.active {
    color: #7f22fe;
    border-bottom: 2px solid #7f22fe;
    background-color: #F4F3FF;
  }

  .perks {
    .perk {
      .icon {
        width: 48px;
        height: 48px;
      }
    }
  }

  .img-wrapper {

    img {
      height: calc(var(--spacing) * 96);
    }

    >div {
      width: fit-content;
      bottom: -24px;
    }
  }



  .tab-content {

    .sec-btn {
      transition: .2s;
    }

    .buying {
      .img-wrapper {
        >div {
          left: 0;
        }
      }

      .sec-btn {
        &:hover {
          background-color: #7008e7;
        }
      }
    }

    .selling {
      .img-wrapper {

        >div {
          right: 0px;
        }
      }

      .sec-btn:hover {
        background-color: #078136;
      }
    }

    .renting {
      .img-wrapper {

        >div {
          left: 0px;
        }
      }

      .sec-btn:hover {
        background-color: #8200db;
      }
    }

    .investing {
      .img-wrapper {

        >div {
          right: 0px;
        }
      }

      .sec-btn:hover {
        background-color: #A65F00;
      }
    }

    .commercial {
      .img-wrapper {

        >div {
          left: 0px;
        }
      }

      .sec-btn:hover {
        background-color: #442DD7;
      }
    }
  }
}

/* ? testimonials section */
.testimonials {
  padding-block: 80px;
  background-image: linear-gradient(to right, rgb(77, 23, 154) 0%, rgb(89, 22, 139) 100%);

  .gold-star {
    color: #FFBA00;
  }

  .container {
    max-width: 72rem;
  }

  header {
    span {

      &::before,
      &::after {
        background-image: linear-gradient(to right, #00000000 0%, #ffb900 50%, #fe9a00 100%)
      }

      &::after {
        background-image: linear-gradient(to left, #00000000 0%, #ffb900 50%, #fe9a00 100%)
      }
    }

    p {
      color: #ddd6ff;
    }
  }

  .carousel-container {
    max-width: 72rem;

    .review {
      blockquote {
        color: #364153;
      }

      .author-img {
        width: 64px;
        height: 64px;
      }
    }

    .carousel-control-next,
    .carousel-control-prev {
      height: 48px;
      width: 48px;
      top: 50%;
      transform: translateY(-50%);
    }

    .carousel-control-next {
      right: -60px;
    }

    .carousel-control-prev {
      left: -60px;
    }

    .carousel-indicators {
      margin-top: 32px;

      button {
        width: 12px;
        height: 12px;
      }
    }
  }
}

/* ? faq section */
.faq {
  padding-block: 80px;
  background-color: #F9FAFB;

  header {
    h2 {
      background-image: linear-gradient(to right, #7f22fe 0%, #7008e7 50%, #9810fa 100%);
    }
  }

  .accordion {
    max-width: 56rem;

    .accordion-item {
      box-shadow: 0 10px 15px -3px #0000001a,
        0 4px 6px -4px #0000001a;

      .accordion-button:not(.collapsed) {
        background-color: #fff;
        box-shadow: none;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
      }

      .accordion-button:hover {
        background-color: #F9FAFB;
      }

      .accordion-button:focus {
        box-shadow: none;
      }
    }
  }
}

/* ? contact section */
.contact {
  --text-label: #364153;
  padding-block: 96px;
  overflow: hidden;

  .circle-top,
  .circle-bottom {
    width: calc(var(--spacing)*96);
    height: calc(var(--spacing)*96);
    background-color: #f3e8ff;
    border-radius: 50%;
    opacity: .5;
  }

  .circle-top {
    right: calc(var(--spacing)*-40);
    top: calc(var(--spacing)*-40);
  }

  .circle-bottom {
    left: calc(var(--spacing)*-40);
    bottom: calc(var(--spacing)*-40);
  }

  .ring-top,
  .ring-bottom {
    border: 4px solid #ddd6ff;
    border-radius: 50%;
    width: calc(var(--spacing)*32);
    height: calc(var(--spacing)*32);
  }

  .ring-top {
    right: calc(var(--spacing)*20);
    top: calc(var(--spacing)*20);
  }

  .ring-bottom {
    left: calc(var(--spacing)*20);
    bottom: calc(var(--spacing)*20);
  }

  .content {
    max-width: 80rem;

    >.row:first-child {
      .icon {
        width: 64px;
        height: 64px;
        background-image: linear-gradient(to right bottom, #8e51ff 0%, #7f22fe 100%);
        transition: .3s;
      }

      .phone,
      .email,
      .location,
      .chat {

        >div {

          transition: .3s;

          &:hover {
            border-color: #c4b4ff !important;
            transform: translateY(-8px);
          }

          &:hover .icon {
            scale: 1.1;
          }

          a {
            color: #7008e7;
          }
        }
      }

      .email>div {

        &:hover {
          border-color: #dab2ff !important;
        }

        .icon {
          background-image: linear-gradient(to right bottom, #ad46ff 0%, #9810fa 100%);
        }

        a {
          color: #8200db;
        }
      }

      .location>div {

        &:hover {
          border-color: #f4a8ff !important;
        }

        .icon {
          background-image: linear-gradient(to right bottom, #e12afb 0%, #fe9a00 100%);
        }

        a {
          color: #e60076;
        }
      }

      .chat>div {

        &:hover {
          border-color: #a3b3ff !important;
        }

        .icon {
          background-image: linear-gradient(to right bottom, #615fff 0%, #4f39f6 100%);
        }

        a {
          color: #432dd7;
        }
      }
    }


    .contact-info {
      background-color: #F6F7F9;

      .icon {
        width: 48px;
        height: 48px;
        color: #8031FE;
      }

      >div:nth-child(3) {
        .icon {
          color: #982EFA;
        }
      }

      >div:nth-child(4) {
        .icon {
          color: #E60077;
        }
      }

      >div:nth-child(5) {
        .icon {
          color: #4F39F6;
        }
      }
    }

    .social-media {
      background-image: linear-gradient(to right bottom, #7f22fe, #9810fa);

      .icon {
        width: 48px;
        height: 48px;
        background-color: rgba(255, 255, 255, 0.2);
        transition: .3s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }

    form {
      label {
        color: var(--text-label);
      }

      input:not(input[type='checkbox']),
      textarea,
      select {
        background: #F9FAFB;
        padding: 12px 16px;

        &:focus {
          border-color: #8e51ff !important;
          outline: none;
          box-shadow: 0 0 0 2px #fff, 0 0 0 4px #8e51ff;
        }
      }

      textarea {
        resize: none;
      }

      .form-check {
        background-color: #F4F3FF;

        >* {
          cursor: pointer;
        }

        input {
          width: 20px;
          height: 20px;
          accent-color: #7f22fe;
        }
      }

      button[type='submit'] {
        background-image: linear-gradient(to right, #7f22fe, #9810fa);
        transition: .3s;

        &:hover {
          transform: translateY(-8px);
        }
      }

      .announcement {
        color: #6a7282;
      }
    }
  }
}

/* ? footer */
footer {
  background-image: linear-gradient(to right, #4d179a, #59168b);

  .copyright {
    color: #ddd6ff;
  }

  .icon {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: #7f22fe;
      scale: 1.1;
    }
  }

  .divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .container {
    >p {
      color: #c4b4ff;

      i {
        color: #ff6467;
      }
    }
  }
}